@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
body, h1, h2, h3, p, ul, li {
  padding: 0;
  margin: 0;  
}
body {
  background-color: #f2f2f2;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #555;
}
ul {
  margin-left: 20px;
}
.content {
  padding: 20px 10px;
}
.nav {
  padding: 20px 0;
}
.nav li {
  padding-bottom: 10px;
}
h1, h2, h3 {
  color: #333;
  line-height: 1;
}
h1 {
  font-size: 1.5em;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}
h3 {
  font-size: 1em;
  font-weight: 600;
}
pre {
  color: #333;
  padding: 5px 10px;
  margin: 0;
  line-height: 1.5;
}
code {
  background-color: #fff;
  overflow: scroll;
  display: block;
  margin-bottom: 30px;
  white-space: nowrap;
}
code p {
  padding: 10px;
}
code p:first-child {
  padding-bottom: 0;
  margin: 0;
}
p {
  margin-bottom: 10px;
}
.nav {
  background-color: #333;
}
.nav p, .nav li {
  text-align: center;  
}
.nav p {
  margin-bottom: 20px;
}
.nav p a {
  color: #f90;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.5em;
}
.nav li {
  list-style-type: none;
}
.nav, .nav a {
  color :#fff;
}
.nav .for-mobile {
  float: right;
}
.nav ul {
  clear: both;
  margin-left: 0;
  width: 100%;
}
label {
  display: block;
  font-weight: bold;
}
input {
  height: 25px;
  border: 1px solid #ccc;
  padding: 0 5px;
}
.section {
  margin-bottom: 40px;
}
.features li {
  font-size: 1.1em;
  padding-bottom: 3px;
}
.footer {
  background-color: #404040;
  padding: 30px 10px;
  color: #fff;
}
.footer li {
  list-style-type: none;
  padding-bottom: 5px;
}
.footer li a {
  color: #f90;
  font-weight: 600;
}
@media all and (min-width: 568px) {
  .content {
    padding-top: 50px;
  }
  .inner {
    max-width: 740px;
    margin: 0 auto;
  }
  h1 {
    font-size: 2.6em;
    margin-bottom: 30px;
    text-align: left;
  }
  h2 {
    font-size: 1.6em;
    margin-bottom: 15px;
  }
  h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
  }
  .section {
    margin-bottom: 50px;
  }
  code {
    overflow: visible;
  }
  pre {
    padding: 10px 15px;
  }
  .features {
    margin-bottom: 60px;
  }
  .features li {
    font-size: 1.2em;
  }
  .footer {
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .footer li {
    float: left;
    padding-right: 40px;
  }
}