@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
body, h1, h2, h3, p, ul, li {
  padding: 0;
  margin: 0;  
}
body {
  background-color: #f2f2f2;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #555;
}
ul {
  margin-left: 20px;
}
.noplugin {
  margin-bottom: 40px;
}
.content {
  padding: 20px 10px;
}
.nav {
  padding: 20px 0;
}
.non-mobile {
  display: none;
}
h1, h2, h3 {
  color: #333;
  line-height: 1;
}
h1 {
  font-size: 1.5em;
  color: #c0392b;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}
h3 {
  font-size: 1em;
  font-weight: 600;
}
pre {
  color: #333;
  padding: 5px 10px;
  margin: 0;
  line-height: 1.5;
}
code {
  background-color: #fff;
  overflow: scroll;
  display: block;
  margin-bottom: 30px;
  white-space: nowrap;
}
code p {
  padding: 10px;
}
code p:first-child {
  padding-bottom: 0;
  margin: 0;
}
a {
  color: #e74c3c;
  text-decoration: none;
}
b {
  font-weight: 600;
}
p {
  margin-bottom: 10px;
}
.logo {
  float: left;
  font-size: 1.6em;
  margin: 0;
}
.logo a {
  color: #fff;
  font-weight: 600;
}
.nav {
  background-color: #c0392b;
  overflow: hidden;
}
.nav p, .nav li {
  text-align: center;  
}
.nav p {
  margin-bottom: 20px;
}
.nav p a {
  color: rgba(#fff, 0.5);
  font-size: 1.5em;
}
.nav ul {
  margin-left: 0;
  overflow: hidden;
  float: right;
}
.nav li {
  list-style-type: none;
  float: left;
  margin-left: 20px;
  line-height: 1.6;
}
.nav li a {
  color :#fff;
  font-weight: 300;
  text-transform: uppercase;
}
.nav a {
/*  font-weight: 700;*/
}
.nav .for-mobile {
  float: right;
}
label {
  display: block;
  font-size: 12px;
  font-weight: bold;
}
input {
  height: 25px;
  border: 1px solid #ccc;
  padding: 0 5px;
}
.section {
  margin-bottom: 40px;
}
.features li {
  font-size: 1.1em;
  padding-bottom: 5px;
}
.footer {
  background-color: #2c3e50;
  padding: 30px 10px;
  color: #7f8c8d;
}
.footer li {
  list-style-type: none;
  padding-bottom: 5px;
}
.footer li a {
  color: #fff;
}
.demo {
  margin: 0;
}
.demo > li {
  list-style-type: none;
  margin-bottom: 50px;
}
.demo li:last-child {
  margin-bottom: 0;
}
.demo p {
  font-weight: 600;
  font-size: 1.1em;
}
.demo input {
  margin-bottom: 10px;
}
.demo-page input, .demo-page .mds-mobile-date, .mds-datepicker-error {
  margin-bottom: 10px;
}
.demo-wrap {
  padding: 30px 20px 10px;
}
.demo-wrap, .iframe-demo {
  background-color: #fff;
}
@media all and (min-width: 568px) {
  .non-mobile {
    display: inline;
  }
  .for-mobile {
    display: none;
  }
  .content {
    padding-top: 50px;
  }
  .inner {
    max-width: 740px;
    margin: 0 auto;
  }
  h1 {
    font-size: 2.6em;
    margin-bottom: 40px;
    text-align: left;
  }
  .other h1 {
    text-align: left;
  }
  h2 {
    font-size: 1.8em;
    margin-bottom: 25px;
  }
  .noplugin h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  .noplugin {
    float: left;
    margin-right: 80px;
    margin-bottom: 0;
  }
  .section {
    margin-bottom: 50px;
  }
  .section.top {
    float: left;
  }
  code {
    overflow: visible;
  }
  pre {
    padding: 10px 15px;
  }
  .features {
    margin-bottom: 20px;
  }
  .features li, p {
    font-size: 1.2em;
  }
  .footer {
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .footer li {
    float: left;
    padding-right: 40px;
  }
  .demo li {
    float: left;
    margin-right: 40px;
  }
  .demo {
    overflow: hidden;
  }
}